/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.*
/configure.scan
/depcomp
/.deps/
/crypt
/crypt.plist/
/crypt.t2t
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/test*
*.mpg
shuffed
/*.o
/gpg_notes
